body
{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(234, 237, 238);
    font-family: 'Montserrat', sans-serif;
}
header
{
    background-color: rgb(36, 47, 61);
    color: white;
}

footer
{
    text-align: center;
    background-color:rgb(36, 47, 61); 
    padding: 4em;
}
ul
{
    list-style: none;
    overflow: hidden;
    background-color: rgb(50, 70, 88);
}
li
{
    float: left;
    padding: 0.5em;
    padding-left: 1em;
}
.first
{
    text-align: center;
    background-color: rgb(228, 110, 44);
    color: white;
    padding: 0.8em;
    margin: 2em;
}
.second
{
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 3em;
    background-image: url(../images/bg-image.png);
    background-size: auto;
    margin: 2em;
}

.one
{
    border-radius: 6%;
    margin-left: 6em;
    margin-right: 1em;
    margin-bottom: 1em;
    object-fit: cover;
    box-shadow: 2px 2px 5px gray;
}

h3
{
    font-weight: bolder;
    margin-top: 1em;
    margin-left: 3em;
    padding-bottom: 2em;
}
.two
{
    margin: 0.5em;
    display: block;
    
}
.final
{
    text-align: center;
    margin: 1em;
}
.backlog
{
    text-align: center;
    background-color:rgb(50, 70, 88);
    padding: 1em;
}
mark
{
    background-color: white;
    color: rgb(48, 93, 110);
}
.products
{
    border-width:1px;
    border-style:solid;
    border-color:white;
    background-color: white;
    margin: 2em;
}



